
run: 1

device: cuda

data_ver: imagenet

root:
data: /kaggle/input/vn-celeb/VN_celeb/not_mask  #root train(not mask vn-celeb)
  test: /kaggle/input/celeb-vn-face-origin/origin_celeb_faces/not_mask #root test(not mask origin-celeb-face)
  out: /kaggle/working/result
  ckpt: /kaggle/input/resnet-pth12/resnet18_110.pth # link resnet18.110pth kaggle

num_classes: 1020 # Number classes of VNceleb

model:
  arch: resnet18
  img_size:
    width: 128
    height: 128

dataloader:
  batch_size: 64
  num_workers: 2
  pin_memory: true

hparams:
  num_epochs: 30
  early_stopping: 0.0001

arcface:
  algo: arc
  params:
    s: 30
    m: 0.5
    easy_margin: False

loss:
  # algo: cross
  algo: focal

optimizer:
  algo: sgd
  hparams:
    lr: 0.01
    weight_decay: 0.0001
    momentum: 0.9

scheduler:
  algo: step
  hparams:
    step_size: 5
